<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="g9_x9Bp_h4kC7JMRXKcjbw-GoLvRAhFym9I1UAmyb-w" />
    <meta name="description" content="Shop MarketNow Online for groceries, beauty, and household essentials. Fast delivery, trusted brands, and great prices across Egypt.">

    <title>Market Now Online</title>
    <link rel="icon" type="image/png" href="~/images/logo5.png" />
    @* <img src="~/images/logo5.png" /> *@
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <!--start header -->
    <partial name="_NavBar">
        <!--end header -->
        <!--start hero -->
        <!--end feature -->
        <partial name="_Notification">

            <partial name="_Loader" />

            @RenderBody()



            <footer class="section-p1 bg-light text-dark py-5">
                <div class="container">
                    <div class="row gy-4">
                        <!-- Column 1 -->
                        <div class="col-12 col-md-3">
                            <img class="logo mb-3" src="~/images/logo5.png" width="100" height="64" alt="Logo" />
                            <h4>@Localizer["Contact"]</h4>
                            <p><strong>@Localizer["Address"]: </strong>@Localizer["MokattamCairoEgypt"]</p>
                            <p><strong>@Localizer["Phone"]: </strong>01063181497</p>
                            <p><strong>@Localizer["Hours"]: </strong>@Localizer["OpeningTimes"]</p>

                            <div class="follow mt-3">
                                <h4>@Localizer["FollowUs"]</h4>
                                <div class="icon d-flex gap-3 fs-5">
                                    <i class="ri-facebook-fill"></i>
                                    <i class="ri-twitter-x-line"></i>
                                    <i class="ri-instagram-line"></i>
                                    <i class="ri-pinterest-line"></i>
                                    <i class="ri-youtube-fill"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Column 2 -->
                        <div class="col-6 col-md-3">
                            <h4>@Localizer["About"]</h4>
                            <a href="#" class="d-block text-decoration-none text-secondary">@Localizer["About"]</a>
                            <a href="#" class="d-block text-decoration-none text-secondary">@Localizer["DeliverInformation"]</a>
                            <a href="#" class="d-block text-decoration-none text-secondary">@Localizer["PrivacyInformation"]</a>
                            <a href="#" class="d-block text-decoration-none text-secondary">@Localizer["TermsAndCondtion"]</a>
                            <a href="#" class="d-block text-decoration-none text-secondary">@Localizer["ContactUs"]</a>
                        </div>

                        <!-- Column 3 -->
                        <div class="col-6 col-md-3">
                            <h4>@Localizer["Account"]</h4>
                            <a href="#" class="d-block text-decoration-none text-secondary">@Localizer["MyContact"]</a>
                            <a href="#" class="d-block text-decoration-none text-secondary">@Localizer["SignIn"]</a>
                            <a href="#" class="d-block text-decoration-none text-secondary">@Localizer["ViewCart"]</a>
                            <a href="#" class="d-block text-decoration-none text-secondary">@Localizer["MyWishList"]</a>
                            <a href="#" class="d-block text-decoration-none text-secondary">@Localizer["TrackMyOrder"]</a>
                            <a href="#" class="d-block text-decoration-none text-secondary">@Localizer["Help"]</a>
                        </div>

                        <!-- Column 4 -->
                        <div class="col-12 col-md-3 text-center text-md-start">
                            <div class="copyright mt-4 mt-md-0">
                                <p class="small text-muted mb-0">© 2025 Market Now Online Store. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>



            <script src="~/js/jquery.min.js" defer ></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" defer ></script>
            <script src="~/js/bootstrap.bundle.min.js" defer ></script>
            <!--plugins-->
            <script src="https://cdn.jsdelivr.net/npm/fslightbox/index.js" defer ></script>a
            <script src="~/plugins/Drag-And-Drop/dist/imageuploadify.min.js" defer ></script>
            <script src="~/plugins/simplebar/js/simplebar.min.js" defer ></script>
            <script src="~/plugins/metismenu/js/metisMenu.min.js" defer ></script>
            <script src="~/plugins/perfect-scrollbar/js/perfect-scrollbar.js" defer ></script>
            <script src="~/plugins/apexcharts-bundle/js/apexcharts.min.js" defer ></script>
            <script src="~/plugins/datatable/js/jquery.dataTables.min.js" defer ></script>
            <script src="~/plugins/datatable/js/dataTables.bootstrap5.min.js" defer ></script>
            <script src="~/plugins/sweetalert2/sweetalert2.all.min.js" defer ></script>
            <script src="~/plugins/select2/js/select2.full.min.js" defer ></script>
            <script src="~/plugins/moment/moment.js" defer ></script>
            <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js" defer ></script>
            <script src="~/js/app.js" asp-append-version="true" defer ></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" defer ></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js" defer ></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" defer ></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" defer ></script>
            <script src="~/js/default.js" asp-append-version="true" defer ></script>
            <script src="~/js/script.js" defer ></script>
            @* <script src="~/js/cart.js" defer ></script> *@
            @RenderSection("scripts", required: false)

            <script defer>
                        $(document).ready(function() {
                     var cart = JSON.parse(localStorage.getItem('cart')) || [];
                     if(cart == [] || $("#cartNum").length==0){
                         var cartt = $("#cartNum").length;
                         $("#cartNum")[0].innerHTML= 0;
                         $("#cartNum1")[0].innerHTML= 0;
                     }else{
                         $("#cartNum")[0].innerHTML= cart.length;
                         $("#cartNum1")[0].innerHTML= cart.length;
                     }

                });
            </script>

</body>

</html>
