@{
    var currentAction = ViewContext.RouteData.Values["action"] as string;
    var currentController = ViewContext.RouteData.Values["controller"] as string;
}
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();

    var cultureItems = LocalizationOptions.Value.SupportedUICultures
    .Select(c => new SelectListItem { Value = c.Name, Text = c.Name })
    .ToList();

    var returnUrl = string.IsNullOrEmpty(Context.Request.Path)
    ? "~/"
    : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}
<section id="header">
    <a asp-action="index"> <img src="~/images/logo.png" /> </a>
    <div>
        <ul id="navbar">
            <li><a class="@(currentAction == "Index" && currentController == "Home" ? "active" : "")" asp-action="index">@Localizer["Home"]</a></li>
            <li><a class=" @(currentAction == "Shop" && currentController == "Home" ? "active" : "")" asp-action="Shop">@Localizer["Shop"]</a></li>
            @*   <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li> *@
            <li><a asp-action="Contact" asp-controller="Home" class=" @(currentAction == "Contact" && currentController == "Home" ? "active" : "")">@Localizer["ContactUs"]</a></li>
            <li id="lg-bag" class=" @(currentAction == "Cart" && currentController == "Home" ? "active" : "")">
                <a asp-action="Cart" asp-controller="Home"><i class="ri-shopping-bag-line"><span id="cartNum" class="badge rounded-pill bg-danger"></span></i></a>
            </li>
            <li class="nav-item dropdown">
               @*  <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ri-global-line"></i>
                </a> *@
                <ul class="">
                    <form asp-controller="Culture" asp-action="SetCulture" asp-route-returnUrl="@returnUrl" class="px-3">
                        <select name="culture"
                                onchange="this.form.submit();"
                                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                asp-items="cultureItems"
                                class="form-select form-select-sm">
                        </select>
                    </form>
                </ul>
            </li>
            <a href="#" id="close"><i class="ri-close-large-fill"></i></a>
        </ul>
    </div>

    <div id="mobile">
        <a asp-action="Cart" asp-controller="Home"><i class="ri-shopping-bag-line"><span id="cartNum1" style="font-size: .60em;" class="badge rounded-pill bg-danger"></span></i></a>
        <i id="bar" class="ri-menu-fold-3-fill"></i>
    </div>
</section>

@section scripts {
    <script>
        //
        $(document).ready(function() {
            debugger;
                 var cart = JSON.parse(localStorage.getItem('cart')) || [];
                 if(cart == []){
                     $("#cartNum").innerHTML= 0;
                     $("#cartNum1").innerHTML= 0;
                 }else{
                        $("#cartNum").innerHTML = cart.length;
                        $("#cartNum1").innerHTML = cart.length;
             }
        });
    </script>
}
