@model Domain.Models.PortalVM


<div class="container mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="fm-search">
                <div class="mb-0">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bg-transparent" id="porductSearch" style="cursor:pointer"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input id="inputSearch" type="text" class="form-control" placeholder="Search products">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h5 class="mt-5 text-center"> Welcome to our Shop where best prices is under your hand </h5>

<section id="feature" class="section-p1">
    <div class="category-dropdown mx-1 fe-box" style="cursor:pointer;">
        <h6>All Products</h6>
    </div>
    @for (int i = 0; i < Model.CategoryVMs?.Count; i++)
    {
        <div class="category-dropdown mx-1 fe-box" data-value="@Model.CategoryVMs[i].Id" style="cursor:pointer;">
            <img src="img/features/f1.png" alt="">
            <h6>@Model.CategoryVMs[i].CategoryName</h6>
        </div>
    }
</section>
<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    @* <p>Summer Collection New Modern Design</p> *@
    <div id="products-container">
        <div class="pro-container" id="pro-container">

            <partial name="_ProductListPartial" model="Model.ProductVMs" />

            @*  @for (int i = 0; i < Model.ProductVMs?.Count; i++)
        {
            <a asp-action="ProductDetails" asp-controller="Home" asp-route-Id="@Model.ProductVMs[i].Id">
                <div class="pro mx-1">
                    <img src="@(Model.ProductVMs[i].ListOfRetrievedImages?.Count > 0 ?Model.ProductVMs[i].ListOfRetrievedImages?[0]:"")" alt="">
                    <div class="des">
                        <span>@Model.ProductVMs[i].CategoryName</span>
                        <h5>@Model.ProductVMs[i].ProductName</h5>
                        <div class="star">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <h4>$@Model.ProductVMs[i].SellingPrice</h4>
                    </div>
                    <a href="#"><i class="ri-shopping-cart-2-line cart"></i></a>
                </div>
            </a>
        } *@
        </div>
    </div>
</section>
<section id="banner" style="height:0px" class="section-m1">
    <button class="normal" style="background-color: #088178; color: #fff;" id="exploreMore">
        Explore More
    </button>
</section>
@* 
<section id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <span>70% off</span> - All t-Shirts & Accessories</h2>
    <button class="normal">Expore More</button>
</section>

<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Modern Design</p>
    <div class="pro-container">
        <div class="pro">
            <img src="img/products/n1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="ri-shopping-cart-2-line cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n2.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shiirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="ri-shopping-cart-2-line cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n3.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shiirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="ri-shopping-cart-2-line cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n4.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shiirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="ri-shopping-cart-2-line cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n5.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shiirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="ri-shopping-cart-2-line cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n6.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shiirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="ri-shopping-cart-2-line cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n7.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shiirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="ri-shopping-cart-2-line cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n8.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shiirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="ri-shopping-cart-2-line cart"></i></a>
        </div>
    </div>
</section>

<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>crazy deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>The best classic dress is on sale at cara</span>
        <button class="white">Learn More</button>
    </div>
    <div class="banner-box banner-box2">
        <h4>spring/summer</h4>
        <h2>upcoming season</h2>
        <span>The best classic dress is on sale at cara</span>
        <button class="white">Collection</button>
    </div>
</section>

<section id="banner3">
    <div class="banner-box">
        <h2>SEASONAL SALE</h2>
        <h3>Winter Collection -50% OFF</h3>
    </div>
    <div class="banner-box banner-box2">
        <h2>NEW FOOTWEAR COLLECTION</h2>
        <h3>Spring / Summer 2024</h3>
    </div>
    <div class="banner-box banner-box3">
        <h2>T-SHIRTS</h2>
        <h3>New Trendy Prints</h3>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section> *@
@section scripts {
    <script>
        //
        $(document).ready(function() {
            var pageNumber = 2;
            var pageSize = 10;

             var cart = JSON.parse(localStorage.getItem('cart')) || [];
             if(cart == [] || $("#cartNum").length==0){
                 var cartt = $("#cartNum").length;
                 $("#cartNum")[0].innerHTML= 0;
             }else{
                 $("#cartNum")[0].innerHTML= cart.length;
             }


                  $('.category-dropdown').on('click', function () {
                      var categoryId = $(this).data('value');
                      var url = '@Url.Action("GetProductsByCategory", "Home")';
                      Search(categoryId,url);
             });

                  $('#inputSearch').on('input', function () {
                      debugger;
                      var query = $(this).val();
                      if (query.length > 2) {
                       var url = '@Url.Action("GetProductsByName", "Home")';
                      SearchProduct(query,url);
                      }
                 });
                 $('#exploreMore').on('click', function () {
                          debugger;
                             var $url = "@Url.Action("GetPaginatedProducts", "Home")";
                             var parameter = {
                                 pageNumber: pageNumber,
                                 pageSize: pageSize
                             };
                             _Ajax.ReturnHTML($url, parameter, "GET", function () { },
                                 function (data) {
                                     pageNumber++;
                                     $('#pro-container').append(data);
                                 },
                                 function (xhr) {
                                     _SWAL.AlertWithoutNotification("Something went wrong..!!");
                                 });
                         });
             });
             function Search(inputSearch, url){
                 debugger;
                 var $url = url;
                 var parameter = {
                     categoryId: inputSearch
                 };
                 _Ajax.ReturnHTML($url, parameter, "GET", function () { },
                     function (data) {
                         $('#pro-container').html(data);
                     },
                     function (xhr) {
                         _SWAL.AlertWithoutNotification("Something went wrong..!!");
                     });
             };
             function SearchProduct(inputSearch, url){
                 debugger;
                 var $url = url;
                 var parameter = {
                     name: inputSearch
                 };
                 _Ajax.ReturnHTML($url, parameter, "GET", function () { },
                     function (data) {
                         $('#pro-container').html(data);
                     },
                     function (xhr) {
                         _SWAL.AlertWithoutNotification("Something went wrong..!!");
                     });
                    };
    </script>
}